<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.govegan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Forum"></activity>
        <activity android:name=".Calendari_Setmanal" />
        <activity android:name=".Propostes"/>
        <activity android:name=".LlistaCompra"/>
        <activity android:name=".Recepta"/>
        <activity android:name=".PaginaPrincipal"/>
        <activity android:name=".layoutCuriositats"/>
        <activity android:name=".RecuperarContra"/>
        <activity android:name=".SignUp"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>