<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.govegan">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA">


    </uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono_circular"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".vista.Forum"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".vista.CalendariSetmanal"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".vista.LlistaCompra"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".vista.Recepta"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".vista.PaginaPrincipal"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".vista.LayoutCuriositats"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".vista.LayoutPropostes"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".vista.RecuperarContra"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".vista.AfegirProposta"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".vista.SignUp"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".vista.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>

